
.dropdown-content {
    display: none; 
    position: absolute;
    background-color: white;
    /* box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2); */
    z-index: 1;
}
.dropaddbtn{
    background-color: orangered;
}
.dropaddbtn:hover{
    border: none;
}
.dropmybtn:hover{
    border: none;
}
.dropmybtn{
    background-color: orangered;
}
.dropdown:hover .dropdown-content {
    display: block; 
}

